name: core dump test

on: [push]

permissions: {}

jobs:
  core-dump-test:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Enable core dumps
        uses: senzing-factory/github-action-core-dumps@2-skern
        with:
          enable-core-dumps: "true"

      - name: Intentionally force a segfault
        run: |
          # Also set for current session
          ulimit -c unlimited
          cd "${GITHUB_WORKSPACE}/test"
          gcc -g segfault.c -o segfault
          ./segfault

      - if: ${{ always() }}
        name: Analyze core dumps
        uses: senzing-factory/github-action-core-dumps@2-skern
        with:
          analyze-core-dumps: "true"
